# Optional: override the default public Base mainnet RPC with a private endpoint
# (Alchemy, Infura, QuickNode, etc.) to reduce rate-limit / reliability risk.
# If unset, Anchor uses https://mainnet.base.org.
# ANCHOR_RPC_URL=https://base-mainnet.g.alchemy.com/v2/<key>
